@import "../../../../../Core/styles/mixins";

.error-card {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);


  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 100;
  backdrop-filter: blur(5px);

  &__body {
    @include flexbox;
    @include flex-direction(column);
    @include background(#950000, #ff0000,);
    @include border-radius(20px);
    @include box-shadow(-8px -8px 15px #ab0000, 10px 7px 20px #ffffff);
    @include text-shadow(-2px, -2px, 3px, #660000, 2px, 2px, 3px, #ff3a3a);

    position: relative;
    color: #ffffff;
    padding: 30px;

  }

  &__button {
    @include button-close(#ffffff, #d80000, #ff0000, #ff0000, #a50000,)
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 500ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: all 800ms;

  }

}
