@import "../../../Core/styles/mixins";

.info {
  @include background(rgba(215, 215, 215, 0.5), rgba(255, 255, 255, 0.5));
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(5px);
  z-index: 50;
  transition: opacity 500ms;


  &__body {
    @include background;
    @include border-radius(20px);
    @include box-shadow(-8px -8px 20px #748394, 15px 15px 20px #ffffff);
    @include flexbox;
    @include flex-direction(column);


    position: relative;
    min-width: 300px;
    min-height: 200px;
    padding: 20px;

    img {
      max-height: 250px;
      margin: 10px 0;
      object-fit: cover;
    }
  }

  p, h2 {
    margin: 10px 0;

    span {
      color: #003874;
    }

    a:visited {
      color: inherit;
    }
  }

  &__button-delete {
    @include button
  }

  &__article {
    margin: 15px 0;
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #b0b0b0;

  }

  .info__button-close {
    @include button-close
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
  }
}
