@import "../../../../../Core/styles/mixins";

.confirm {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include background(rgba(215,215,215,0.7),rgba(255, 255, 255, 0.7));
  @include transition(opacity 800ms);


  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  backdrop-filter: blur(5px);

  &__body {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-around);
    @include flex-direction(column);
    @include background;
    @include border-radius(20px);
    @include box-shadow( -8px -8px 20px #748394, 15px 15px 20px #ffffff);


    max-width: 400px;
    min-height: 100px;
    padding: 20px;
  }

  &__buttons {
    margin-top: 10px;

    button {
      @include button(#000820)
    }
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
  }
}
