@import 'mixins';
@import 'reset';
@import 'animations';

html,
body,
#root {
  @include flexbox();
  @include flex-direction(column);
  @include flex(1);
  width: 100%;
  height: 100%;
  outline: none;
}

* {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
}
