@import '../../styles/mixins';

.header {
  @include flexbox();
  @include flex(0, 0, auto);
  background: linear-gradient(118.38deg, #0028ff -4.6%, #009dff);
  color: white;
  padding: 10px 0;
  box-shadow: 0px -3px 10px 1px #000e56 inset, 0 0 10px 3px #000e56;

  @media (max-width: 770px) {
    display: flex;
    justify-content: center;
  }

  &__logo {
    @include flexbox();
    @include justify-content('flex-start');
    position: relative;
    font-size: 50px;
    z-index: 30;
    text-shadow: 0 0 10px #000e56;
    transition: transform 500ms;

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 140px;
      width: 10px;
      height: 10px;
      background: #06ff00;
      border-radius: 50%;
      box-shadow: 0 0 10px #0022ff, 2px 0 3px 1px #1b8900 inset;
      animation: ball 2s linear infinite;
      z-index: -1;
      box-sizing: border-box;
    }
  }
}
