.card {
  position: relative;
  border: 1px solid #007cff;
  border-radius: 20px;
  min-width: 350px;
  min-height: 100px;
  padding: 15px;
  background: #ffffff;
  transition: all 200ms linear;

  display: flex;
  align-items: start;
  justify-content: space-between;
  box-shadow: 0 0 0 0 #007cff inset, 0 0 10px #000e56;

  @media (max-width: 380px) {
    min-width: 300px;
  }
  &:hover {
    box-shadow: -2px -2px 10px 3px #007cff inset, 0 0 15px 5px #007cff;
    transform: scale(1.05, 1.05);
    z-index: 2;

    @media (max-width: 1110px) {
      transform: scale(1.02, 1.05);

    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #ffa5a5;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 200ms linear;
    color: #b90000;
    box-shadow: -3px -5px 10px 2px #ff0010 inset;

    &:hover {
      box-shadow: 3px 5px 10px 2px #ff0010 inset, 0 0 10px 1px #ff0010;
      transform: scale(1.1, 1.1);

    }


  }

  &__info {
    h2 {
      margin-bottom: 10px;
    }
  }
}
