.card {
  position: relative;
  border: 1px solid #007cff;
  border-radius: 20px;
  min-width: 350px;
  min-height: 100px;
  padding: 15px;
  background: #ffffff;
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: all 200ms linear;

  &:hover {
    box-shadow: 0 0 5px 1px #007cff inset;
  }
  button {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ffa5a5;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 200ms linear;
    &:hover {
      box-shadow: 0 0 5px 1px #ff0010 inset;
    }

  }

  &__info {
    h2 {
      margin-bottom: 10px;
    }
  }
}
