.cards-list {
  min-height: 100%;
  transition: all 500ms;
  padding: 20px 0;

  &__body {
    margin: 0 -10px;
    @media (max-width: 360px) {
      margin: 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__success {
    ul {
      display: flex;
      position: fixed;
      flex-direction: column-reverse;
      right: 30px;
      bottom: 30px;
      z-index: 100;

      li {
        margin: 15px 0 15px 0;
      }
    }

  }
}


.item {
  position: relative;
  flex: 1 1 auto;
  margin: 10px;
  list-style-type: none;
  @media (max-width: 360px) {
    margin: 5px;
  }

  &-enter {
    transform: translateY(1200px);
  }

  &-enter-active {
    transform: translateY(0);
    transition: all 500ms;
  }

  &-exit {
    opacity: 1;
    transform: scale(1, 1);
  }


  &-exit-active {
    transform: scale(0, 0);
    opacity: 0;
    transition: all 1000ms;
  }
}
