@import "../../../Core/styles/mixins";

.cards-list {
  @include transition(opacity 800ms, transform 800ms);


  min-height: 100%;
  padding: 20px 0;

  &__body {
    margin: 0 -10px;

    @media (max-width: 360px) {
      margin: 0;
    }

    ul {
      @include flexbox;
      @include flex-wrap(wrap);


      padding: 0 10px;
    }
  }

}


.item {
  @include transition(opacity 800ms, transform 800ms);

  position: relative;
  flex: 1 1 auto;
  margin: 10px;
  @media (max-width: 360px) {
    margin: 5px;
  }

  &-enter {
    transform: translateY(1200px);
  }

  &-enter-active {
    transform: translateY(0);
  }

  &-exit {
    opacity: 1;
    transform: scale(1, 1);
  }


  &-exit-active {
    transform: scale(0, 0);
    opacity: 0;
  }
}
