@import '../../styles/mixins';

.footer {
  @include flexbox();
  @include flex(0, 1, auto);
  @include background(#a8cdff);
  @include box-shadow(0 -8px 20px #748394);

  min-width: 100%;
  padding: 10px 0;
  text-align: end;
}
