@import '../../styles/mixins';

.footer {
  @include flexbox();
  @include flex(0, 1, auto);
  background: linear-gradient(118.38deg, #a8cdff, #ffffff);

  padding: 10px 0;
  text-align: end;
  box-shadow: 0 -8px 20px #748394;
}
