.cards-list {
  overflow: hidden;
  min-height: 100%;
  transition: all 500ms;

  &__body {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__success {
    ul {
      display: flex;
      position: fixed;
      flex-direction: column-reverse;
      right: 30px;
      bottom: 30px;
      z-index: 100;
      li{
        margin: 10px 0 10px 0 ;

      }
    }

  }
}


.item {
  position: relative;
  flex: 1 1 auto;
  margin: 10px;
  list-style-type: none;

  &-enter {
    transform: translateY(1200px);
  }

  &-enter-active {
    transform: translateY(0);
    transition: all 500ms;
  }

  &-exit {
    opacity: 1;
    transform: scale(1, 1);
  }


  &-exit-active {
    transform: scale(0, 0);
    opacity: 0;
    transition: all 1000ms;
  }
}
