.cards-list {
  overflow: hidden;
  min-height: 100%;
  transition: all 500ms;

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}



.item {
  position: relative;
  flex: 1 1 auto;
  padding: 10px;
  list-style-type: none;

  &-enter {
    transform: translateY(1200px);
  }

  &-enter-active {
    transform: translateY(0);
    transition: all 500ms;
  }

  &-exit {
    opacity: 1;
    transform: scale(1, 1);
  }


  &-exit-active {
    transform: scale(0, 0);
    opacity: 0;
    transition: all 1000ms;
  }
}
