@import '../../styles/mixins';

.central-container {
  @include flexbox();
  @include flex-direction(column);


  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 350px) {
    padding: 0 5px 0 5px;
  }
}
