.success {
  padding: 30px;
  background: #37ff00;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 5px 3px #06ff00;
  position: relative;
  h1 {
    font-size: 40px;

  }

  &:after {
    position: absolute;
    right: 80px;
    top: 0;
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 10px 0 10px 10px;
    background: #a2ff46;
    transform: rotate(45deg);
    z-index: 1;

  }

  &:before {
    position: absolute;
    right: 15px;
    top: -20px;
    content: "";
    width: 100px;
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    background: #a2ff46;
    transform: rotate(-50deg);
    z-index: 201;

  }

  &-enter {
    transform: translateY(-1200px);
    //opacity: 0;
  }

  &-enter-active {
    //opacity: 1;
    transform: translateY(0);

    transition: all 500ms;
  }

  &-exit {
    //opacity: 1;
    transform: translateX(0);
  }

  &-exit-active {
    //opacity: 0;
    transform: translateX(1000px);
    transition: all 500ms;
  }


  @media(max-width: 768px) {
    & {
      font-size: 0;

      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 24px;
      }

      &:after {
        right: 25px;

      }

      &:before {
        right: -37px;
      }

    }
  }
}
