.success {
  padding: 30px;
  background: #37ff00;
  border-radius: 20px;
  color: #ffffff;
  text-shadow: -2px -2px 4px #545a64, 3px 3px 1px #b7b7b7;
  background: linear-gradient(118.38deg, #06ff00 -4.6%, #bffb83 200.44%);
  box-shadow: -8px -8px 20px #748394, 10px 7px 20px #ffffff,;

  position: relative;

  h1 {
    font-size: 40px;
  }

  &:after {
    position: absolute;
    right: 80px;
    top: 0;
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 10px 0 10px 10px;
    background: #abff5c;
    transform: rotate(45deg);
    z-index: 1;
    box-shadow: -3px 3px 3px 1px #1b8900 inset,3px -13px 20px  #1b8900;

  }

  &:before {
    position: absolute;
    right: 15px;
    top: -20px;
    content: "";
    width: 100px;
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    background: #abff5c;
    transform: rotate(-50deg);
    z-index: 201;
    box-shadow: -3px -3px 3px 1px #1b8900 inset,3px 13px  20px #1b8900;
  }

  &-enter {
    transform: translateY(-1200px);
  }

  &-enter-active {
    transform: translateY(0);
    transition: all 500ms;
  }

  &-exit {
    transform: translateX(0);
  }

  &-exit-active {
    transform: translateX(1000px);
    transition: all 500ms;
  }


  @media(max-width: 768px) {
    & {
      font-size: 0;

      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 24px;
      }

      &:after {
        right: 25px;

      }

      &:before {
        right: -37px;
      }
    }
  }
}
