.header {
  background: linear-gradient(118.38deg, #0028ff -4.6%, #009dff);
  color: white;
  padding: 10px 0;
  box-shadow: 0px -3px 10px 1px #000e56 inset, 0 0 10px 3px #000e56;
  @media (max-width: 770px) {
    display: flex;
    justify-content: center;
  }

  p {
    position: relative;
    font-size: 50px;
    z-index: 30;
    text-shadow: 0 0 10px #000e56;
    transition: transform 500ms;
    &:hover{
      transform: scale(1,1.1);

    }

    &:first-letter {
      text-transform: uppercase;
    }

    &:after {
      content: "";
      position: absolute;
      top: 010px;
      left: 100px;
      width: 10px;
      height: 10px;
      background: #06ff00;
      border-radius: 50%;

      box-shadow: 0 0 10px #0022ff, 2px 0 3px 1px #1b8900 inset;
      animation: ball 2s linear infinite;
      z-index: -1;
      box-sizing: border-box;
    }

  }
}

@keyframes ball {
  0% {
    transform: rotate(-30deg) scale(0.8, 0.8);
    z-index: -1;
  }

  25% {
    transform: translate(-40px, 20px) rotate(-30deg) scale(0.3, 0.3);

  }
  50% {
    transform: translate(-50px, 60px) rotate(-30deg) scale(0.5, 0.5);
    z-index: -1;
  }
  75% {
    transform: translate(-18px, 30px) rotate(-30deg) scale(1, 1);
    z-index: 3
  }

  100% {
    transform: translate(0px, 0px) rotate(-30deg) scale(0.8, 0.8);
  }
}
