@import '../../../../../Core/styles/mixins';

.card {
  @include transition(transform 200ms linear, z-index 200ms linear);

  position: relative;

  a {
    text-decoration: none;
  }

  &__body {
    @include flexbox;
    @include align-items(start);
    @include justify-content(space-between);
    @include background(space-between);
    @include text-shadow(-2px, -2px, 4px, #545a64, 3px, 3px, 1px, #ffffff);
    @include border-radius(20px);
    @include box-shadow(-8px -8px 20px #748394, 10px 7px 20px #ffffff);

    min-width: 250px;
    min-height: 100px;
    padding: 15px;
    cursor: pointer;
    color: #2a2a2a;
  }

  @media (min-width: 620px) {
    min-width: 350px;
  }

  &:hover {
    @include transform(scale(1.02, 1.05));
    z-index: 10;
  }

  button {
    @include button-close();
  }

  &__info {
  }
}
