.Core {
  min-height: 100vh;
  background: linear-gradient(90deg, #d1d1d1 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 10px 0 10px;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 350px) {
    padding: 0 5px 0 5px;
  }
}



