.Core {
  min-height: 100vh;
  background: #e1f5ff;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 10px 0 10px;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 350px) {
    padding: 0 5px 0 5px;
  }
}


