@import "../../styles/mixins";

.not-found-page {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);


  height: 100%;
  color: #dedede;

  &__title {
    @include text-shadow(-8px, -8px, 8px, #545a64, 8px, 8px, 10px, #ffffff);
    font-size: 200px;
    @media (max-width: 770px) {
      font-size: 150px;
margin: 10px;
    }
  }

  &__text {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);


    font-size: 30px;

    p {
      @include text-shadow(-5px, -5px, 5px, #707886, 5px, 5px, 5px, #ffffff);


      font-size: 30px;
      font-weight: 700;
      color: #00153f;
      text-align: center;
      margin: 10px;
    }


  }
}
