.confirm {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: linear-gradient(118.38deg, rgba(215,215,215,0.7) -4.6%, rgba(255, 255, 255, 0.7));
  backdrop-filter: blur(5px);

  &__body {
    max-width: 400px;
    min-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(118.38deg, #d7d7d7 -4.6%, #ffffff);
    border-radius: 20px;
    box-shadow: -8px -8px 20px #748394, 15px 15px 20px #ffffff;

  }

  &__buttons {
    margin-top: 10px;

    button {
      margin: 10px;
      width: 55px;
      height: 40px;
      border: none;
      border-radius: 20px;
      transition: all 200ms linear;
      background: linear-gradient(118.38deg, #dedede -4.6%, #ffffff 200.44%);
      box-shadow: -8px -8px 20px #748394, 10px 10px 20px #ffffff;

      &:disabled:hover {
      }

      &:hover {
        transform: scale(1.1, 1.1);

      }
    }
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 500ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: all 800ms;

  }

}
