.konfem {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(5px);

  &__body {
    background: #ffffff;
    max-width: 400px;
    border: 2px solid #007cff;
    min-height: 100px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }

  &__buttons {
    margin-top: 10px;

    button {
      margin: 10px;
      width: 50px;
      height:35px;
      background: #78ffe6;
      border: none;
      border-radius: 10px;
      transition: all 200ms linear;

      &:hover {
        box-shadow: 0 0 5px 1px #007cff inset,0 0 5px 1px #007cff;
      }
    }
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 500ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: all 500ms;

  }

}
