.info{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;



  &__body {
    position: relative;
    min-width: 300px;
    min-height: 200px;
    background: #ffffff;
    border: 2px solid #007cff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px 2px #007cff;
    @media (max-width: 620px) {
      margin: 0 20px 0 5px;
    }
  }

  button {
    position: static;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    margin: 10px;
    align-self: end;
    background: #ffa5a5;
    transition: all 200ms linear;
    border: none;
    &:hover {
      box-shadow: 0 0 10px 1px #ff0010 inset,0 0 10px 1px #ff0010;
    }
  }
  .info__button-close {
    position: absolute;
    right: -25px  ;
    top: -25px;
    width: 35px;
    box-shadow: 0 0 5px 1px #c80009;
    transition: all 1100ms;
    &:hover{
      box-shadow: 0 0 10px 2px #c80009;
      font-size: 1.2em;
    }
  }

  &-enter {

    transform: translateX(1000px);
  }

  &-enter-active {

    transition: all 1000ms;
    transform: translateX(0);

  }

  &-exit {
    transform: translateY(0);
  }

  &-exit-active {
    transform: translateY(-1500px);
    transition: all 1000ms;
  }
}
