@import "../../styles/mixins";
.card {
  position: relative;
  transition: all 200ms linear;
  &__body{
    border-radius: 20px;
    min-width: 350px;
    min-height: 100px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: #2a2a2a;
    text-shadow: -2px -2px 4px #545a64, 3px 3px 1px #ffffff;
    background: linear-gradient(118.38deg, #dedede -4.6%, #ffffff 100%);
    box-shadow: -8px -8px 20px #748394, 10px 7px 20px  #ffffff;


  }
  @media (max-width: 380px) {
    min-width: 300px;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    z-index: 2;

    @media (max-width: 1110px) {
      transform: scale(1.02, 1.05);

    }

    &:active {
      background: none;
    }
  }
button{
  @include button-close();

}

  &__info {
    h2 {
      margin-bottom: 10px;
    }
  }
}
